/* importing fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Cardo', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* font-family: 'SF Pro Display', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'SF Pro Display', sans-serif;
  background-color: #fff;
}

.navbar{
background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
/* font-family: 'Cardo', serif; */
font-family: 'SF Pro Display', sans-serif;
font-weight: 700;
letter-spacing: 1px;
box-shadow: 0 .125rem .25rem rgba(0,0,0,0.700)!important;
}

.fa-solid{
  background: -webkit-linear-gradient(-24deg, #ffd102 33%, #00d9ff 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

}

.card-header {
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  color: #333;
  box-shadow: 0 0 5px 0 ;
  backdrop-filter: blur(10px);
  margin: 1px;
  padding: 1rem
}

.w-header{
  font-size: 5rem;
}

#weather-display{
  box-shadow: 0 0 5px 0 ;
  background: inherit;
  backdrop-filter: blur(10px);
  margin: 1px;
  padding: 1rem
}

.card-forecast{
  box-shadow: 0 0 5px 0 ;
  background: inherit;
  /* color: #6e6e73; */
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
.w-forecast{
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  color: #333;
  border-radius: 0.25rem;
}

.favorable {
  background-color: lightgreen;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  border-radius: .25rem;
}
img{ 
  filter: drop-shadow(5px 3px 2px #999);
  -webkit-filter: drop-shadow(5px 3px 2px #999);;
}
.moderate {
  background-color: orange;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  border-radius: .25rem;
  box-shadow: 0 0 5px 0 ;
  backdrop-filter: blur(10px);
  margin: 1px;
}

.severe {
  background-color: rgb(244, 93, 93);
  color: #fff;
  width: 200px;
  margin: 0 auto;
  border-radius: .25rem;
}

#no-border, .card {
  border: none;
}

.card {
  border: none;
}

#disappear {
  display: none;
}

@media screen and (max-width: 767px) {

  .display-3 {
  
  font-size: 55px;
  }
  
  }